.book-container {
  padding-top: 1em;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.book {
  box-shadow: 2px 2px 5px grey;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-bottom: 1em !important;
  width: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.inputform {
  margin: auto;
  width: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.single-book {
  width: 20%;
  height: 30%;
  text-align: center;
}

.single-book img {
  max-width: 100%;
  object-fit: contain;
}

.book-addition form {
  justify-content: center;
}
